
.mob{
    display: none;
}
.mob2{
    display: none;
}
.mobile{
    display: none;
}
.nrml{
    font-family: sans-serif;

}
@media only screen and (max-width:600px){
    .nrml{
        display: none;
    }
    .mob{
        display: block;
        height:'200px';
        width:'100%';
        border-radius:'10px';
        margin-left:'auto';
        margin-right:'auto';
    }
    .last{
        display: block;
        align-content: center;
    }
    .asian{
        display: none;
    }
    .mob2{
        display: block;
    }
    .mobile{
        display: block;
    }
    .normal{
        display: none;
    }
}