.nav{
    padding: 40px;
    color:#008080;
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width:600px){
.nav{
    color: #808080;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    &.active {
        color: #000000;
    }
}
}


       